{% extends "sentry/emails/base.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block main %}
    <h3>You've been invited to Sentinel</h3>
    <p>Your teammates at <strong>{{ organization.name }}</strong> are using Sentinel to track and debug software errors.</p>

    <p><a href="{{ url }}" class="btn">Join your team</a></p>

    <p>Check out the <a href="https://hanzo.ai/">Sentinel website</a> if you'd like to learn more before diving in.</p>
{% endblock %}

{% block footer %}
<a href="{% absolute_uri %}">Home</a>
{% endblock %}
